body {
    /* font-size: 14px; */
    color: #525f7f;
     background-color: #fff; 
    letter-spacing: 0.5px;
    overflow-x: hidden;
     font-family: 'Roboto', sans-serif; 
}

div#carousel-example-generic {
    margin: 0;
}

section.top_navbar .navbar.navbar-inverse.navbar-fixed-top {
  background: #000;
}

section.top_navbar .main-nav ul.navbar-nav li a {
  /*text-transform: uppercase;*/
  color: rgb(239, 195, 63);
}

section.top_navbar .main-nav ul.navbar-nav li.active a,
section.top_navbar .main-nav ul.navbar-nav li a:hover {
  /*text-transform: uppercase;*/
  color: rgb(255,255,255);
  text-decoration: underline;
  background: inherit !important;
}

section.top_navbar .main-nav button.btn.btn-warning {
  color: #000;
  background: rgb(239, 195, 63);
  border-radius: 18px;
  font-weight: bold;
  border: none;
}

section.top_navbar .navbar-inverse .navbar-nav li.active:after {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #000;
  top: 51px;
  left: 40px;
  position: absolute;
  z-index: 99999;
  content: "";
}

.bottom-arrows {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #f00;
  bottom: 0;
  top: 51px;
  position: absolute;
  z-index: 99999;
}


/* Make it a marquee */
.marquee {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 50s linear infinite;
}

.marquee:hover {
  animation-play-state: paused
}

/* Make it move */
@keyframes marquee {
    0%   { text-indent: 30em }
    100% { text-indent: -105em }
}

/* Make it pretty */
.microsoft {
    padding-left: 1.5em;
    position: relative;
    font: 16px 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
}

/* ::before was :before before ::before was ::before - kthx */
/*.microsoft:before, .microsoft::before {
    z-index: 2;
    content: '';
    position: absolute;
    top: -1em; left: -1em;
    width: .5em; height: .5em;
    box-shadow: 1.0em 1.25em 0 #F65314,
            1.6em 1.25em 0 #7CBB00,
            1.0em 1.85em 0 #00A1F1,
            1.6em 1.85em 0 #FFBB00;
}*/
p.microsoft.marquee {
    /*background: #feb100;*/
    padding: 10px;
}

.microsoft:after, .microsoft::after {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 2em; height: 2em;
    background-image: linear-gradient(left, white 70%, rgba(255,255,255,0));
}

/* Style the links */
.vanity {
    color: #333;
    text-align: center;
    font: .75em 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
}

.vanity a, .microsoft a {
    color: #1570A6;
    transition: color .5s;
    text-decoration: none;
}

.vanity a:hover, .microsoft a:hover {
    color: #F65314;
}

/* Style toggle button */
.toggle {
  display: block;
    margin: 2em auto;
}



/*------------------------------------*/

h3.logo_title {
    margin-top: 14px;
}
.jumbotron.logo_title {
  position: relative;
  background: #2e2e2e;
  color: #ddd;
  margin-bottom: 0;
}
a.navbar-brand{position: relative;}
a.navbar-brand::after {
    content: "";
    position: absolute;
    background: #fff;
    right: 50%;
    z-index: -1;
    width: 77px;
    height: 74px;
    top: 51px;
}

.jumbotron.logo_title {
    padding-bottom: 0.1px;
}
a.btn-apply {
    position: absolute;
    top: 55%;
    right: 15px;
    border: 2px solid rgb(239, 195, 63);
    background: transparent;
    color: #ddd;
    font-weight: bold;
    border-radius: 23px;
}
a.btn-apply:hover{
  border: 2px solid rgb(239, 195, 63);
  background-color: rgb(239, 195, 63);
  color: #000;
}
@media(max-width: 600px){
    a.btn-apply {
        position: absolute;
        top: 68%;
        background: #2e2e2e;
    }
}

.home_dream_college {
    border: 1px solid #555;
    float: left;
    padding: 50px;
    text-align: center;
    margin-top: -12px;
    position: relative;
    z-index: -1;
    margin-bottom: 25px;

}
.home_dream_college_l4 h3{
    margin: 0;
    background: #fff;
    display: inline-block;
}
/*.theme_color{color: #000}*/



/*HOME FOOTER SLIDER*/

/* Slick Slider */

.slick-prev, .slick-next {
  position: absolute;
  top: 135%;
  font-size: 1.8rem;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  padding-top: 1rem;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slide-in-right.slide.slick-slide {
    width: auto !important;
}

.slick-arrow.slick-hidden {
    display: none;
}

.slide {
    transition: filter .4s;
    margin: 0px 20px;
}

.fas {
    color: #96bd0b;
}
.slick-prev {
    left: 0;
}
.slick-prev, .slick-next {
    position: absolute;
    top: 35%;
    font-size: 1.8rem;
}

.section {
  max-width: 1200px;
  margin: 0 auto;
}
---------------------------

/*FOOTER*/
/*footer.top_footer ul li a {
    color: #ddd;
    margin: 10px;
    border-right: 1px solid #222;
    padding-right: 20px;
}

footer.top_footer ul li {
    float: left;
}
footer.top_footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
footer.top_footer {
    background: #3c3c3c;
    float: left;
    width: 100%;
    padding: 5px;
}*/

/*19/10/2022*/

@media only screen and (max-width: 639px)
.footer {
    padding-bottom: 60px;
}

@media only screen and (max-width: 992px)
.footer {
    position: relative;
    padding-bottom: 40px;
}
@media only screen and (max-width: 992px)
.footer {
    text-align: center;
}
@media only screen and (max-width: 1169px)
.footer {
    padding: 15px 0;
}
.footer {
    background: #000;
    padding: 25px 0;
}
.footer ul{
    padding-left: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
ul.footer-privacy-link {
    margin-bottom: 10px;
}
ul.footer-privacy-link li {
    display: inline-block;
    font-size: 0.913em;
}
ul.footer-privacy-link li a {
    color: #efc33f;
    text-decoration: none;
}
ul.footer-privacy-link li a:hover{
    color: #fff;
}
ul.footer-privacy-link li span {
    color: #fff;
    padding: 0 5px;
}
@media only screen and (max-width: 992px)
.footer .copyrightText {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 15px;
    padding: 0 10px;
}

.copyright p {
    color: #bdbcbc;
    font-size: 0.913em;
    margin-bottom: 0;
}

#backtotop.active {
    right: 0;
}

@media only screen and (max-width: 992px)
#backtotop {
    bottom: 50px;
}
#backtotop {
    background-color: #2f2f2f;
}
#backtotop {
    position: fixed;
    right: -150px;
    bottom: 104px;
    padding: 5px;
    color: #fff;
    border-radius: 2px 0 0 2px;
    display: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    -webkit-transition: 350ms ease;
    transition: 350ms ease;
    z-index: 4;
    overflow: hidden;
}

#backtotop .fa {
     font-size: 20px; 
     margin-right: 3px; 
    animation: bounce 2s infinite;
    /*-webkit-animation: bounce 2s infinite;*/
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-10px);}
    60% {-webkit-transform: translateY(-12px);}
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@media(max-width: 800px){
    .footer .copyright, .rightCopywrite{
        text-align: center;
    }
    .rightCopywrite{
        margin-top: 12px;
    }
 }
 .rightCopywrite .displayNone{
    padding-top: 10px;
 }
 @media(max-width: 800px){
    .displayNone img{
        margin: auto;
    }
 } 
  @media(min-width: 800px){
    .displayNone img{
        float: right;
    }
    .copyright hr{margin: 5px 0;border-color: #333; width: 44%;}
 } 


/* notification css */
.notifi .row{
    margin-top: 10px 0px;
}
.fadeCenter ul li{
    text-align: center;
    color: #fff;
    padding: 10px;
}
.fadeCenter ul{
    background: #000;
    color: #fff;
}
.fadeCenter ul:hover{
    background: #000;
}
.fadeCenter .tab-content{
    background: #f2f2f2;
}
.fadeInRight img{
    width: 100%;
}

.right_menu_bar{
    position: relative;
    overflow-y: hidden;
    min-height: 250px;
}    
.right_menu_bar ul {
    /* width: 100%; */
    padding: 0;
    margin: 0;
}

/*.text-left {
    text-align: left;
}*/
.right_menu_bar ul li:first-child {
    border-left: 1px solid #e0e0e0!important;
}

.right_menu_bar ul li {
    list-style: none;
    background: #f5f5f5;
    border: 0.5px solid #e0e0e0;
    font-size: 13px;
    color: #000;
    display: flex;
    flex-direction: row;
}
.right-annouce li {
    padding: 5px;
}
.right-annouce li img{
    /*height: 80%;*/
}
.new_item_icon {
    width: 50px;
    height: 25px;
}
.right_menu_bar ul li a {
    display: inline;
}
@media only screen and (max-width: 991px)
.right_menu_bar ul li a {
    font-size: 14px;
}
.right_menu_bar ul li a {
    /*display: block;*/
    color: #ffc926;
    text-decoration: none;
    font-size: 14px;
}
.right_menu_bar ul li .link-{
    text-align: left;
}

.apply-anc {
    margin-bottom: 15px;
    box-shadow: 1px 1px 5px #3c3c3c;
    padding: 20px 0;
    line-height: 36px;
    font-size: 32px;
    cursor: pointer;
    color: #17458c;
}
.apply-anc img{
    width: 100%;
    background: transparent;
}

.animnew1 {
    -webkit-animation-name: animnew1;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-name: animnew1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    padding: 10px;
    text-transform: uppercase;
    margin-bottom: 20px;
    background: #f5f5f5;
}
.notifi{
    margin-top: 2em!important;
    margin-bottom: 2em!important;
}
.apply-anc:hover{
    background: #f5f5f5;
    color: #efc33f;
}
@media(min-width: 800px){
    .apply{
        min-height: 175px;
    }
}

.govt_initiatives {
    border-top: 1px solid #efc33f;
}    
.scroll {
    position: absolute;
}

/*left-sidebaar css 21/10/2022*/

nav-left {
    position: relative;
    margin: 50px;
    width: 360px;
}
nav-left ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav-left ul li {
   text-decoration: none;
}
nav-left ul li a {
    display: block;
    background: #2e2e2e;
    color: #efc33f;
    padding: 10px 15px;
    text-decoration: none;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}
nav-left ul li a:hover {
    background: #efc33f;
    color: #000;
    text-decoration: none;
}
nav-left ul li a .fa {
    width: 16px;
    text-align: center;
    margin-right: 5px;
    float:right;
}
nav-left ul li a:focus{
    color: #fff;
}
nav-left ul ul {
    background-color:#ebebeb;
}
nav-left ul li ul li a {
    background: #585858;
    border-left: 4px solid transparent;
    padding: 10px 20px;
}
nav-left ul li ul li a:hover {
    background: #ebebeb;
    border-left: 4px solid #efc33f;
}

.about-detail h3 {
    color: #222;
    padding: 0;
    text-align: left;
    margin-top: 0;
    font-weight: bold;
}
.about-detail .apply-btn{
    text-align: center;
    padding-top: 2em;
}
.about-detail .apply-btn a{
    padding: 1em 3em;
    text-decoration: none;
    background: #000;
    color: #efc33f;
    border: 2px solid #efc33f;
}
.about-detail .apply-btn a:hover{
    color: #fff;
    border: 2px solid #efc33f;
}


/*login form css */
.form-body .div-{
    margin: 15px 0px;
}
#show_hide_password, #show_hide_cpassword{
    position: relative;
}
#show_hide_password a{
    position: absolute;
    top: 7px;
    right: 8px;
}
 #show_hide_cpassword a{
    position: absolute;
    top: 7px;
    right: 8px;
}
.login-btn button{
    width: 100%;
    background: #efc33f;
    color: #000;
}

.login_form_bg::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.8;
    background: linear-gradient(to top right, #ff66cc 0%, #0066cc 100%);
}
.login_form_bg .login_card{
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
}
.login_form_bg{
    position: relative;
    margin: 50px 0px;
    background-image: url('../uploads/bg-img.jpg');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.side_card{
    border: 1px solid #fff;
    border-radius: 5px;
    padding-top: 12px;
}
.card_b h5{
    padding-top: 10px;
    color: #fff;
    font-weight: 700;
}
.card_bootom p{
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
}
.error_c{
    color: red;
}


/*Sidebar*/
/* Scrollbar-effect------- */
#accordian::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}
#accordian::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #e4e4e4;
}
#accordian::-webkit-scrollbar-thumb {
    background: #0089ff;
    border-radius: 10px;
    transition: 0.5s;
}
#accordian::-webkit-scrollbar-thumb:hover {
    background: #d5b14c;
    transition: 0.5s;
}

#accordian {
    background: #f7f7f7;
    width: 100%;
    padding: 10px;
    float: left;
    height: 100vh;
    overflow-x: hidden;
    border: 1px solid #f1f1f1;
}
#accordian ul {
    padding: 0;
}
#accordian a {
}

i {
    margin-right: 10px;
}

#accordian li {
    list-style-type: none;
}

#accordian ul li a{
    color: #555;
    text-decoration: none;
    font-size: 15px;
    display: block;
/*  line-height: 34px; */
    padding: 12px 15px;
    transition: all 0.15s;
    position: relative;
    border-radius: 3px;
}

#accordian>ul.show-dropdown>li.active>a,
#accordian>ul>li>ul.show-dropdown>li.active>a,
#accordian>ul>li>ul>li>ul.show-dropdown>li.active>a,
#accordian>ul>li>ul>li>ul>li>ul.show-dropdown>li.active>a,
#accordian>ul>li>ul>li>ul>li>ul>li>ul.show-dropdown>li.active>a{
    background-color: #ffe69a;
    color: #333;
    box-shadow: 0px 1px 2px rgba(0, 137, 255, 0.2);
}
#accordian>ul>li>ul.show-dropdown>li.active>a {
    background: #fff9e6;
}

#accordian>ul>li>ul,
#accordian>ul>li>ul>li>ul,
#accordian>ul>li>ul>li>ul>li>ul,
#accordian>ul>li>ul>li>ul>li>ul>li>ul {
    display: none;
}


#accordian>ul>li.active>ul.show-dropdown,
#accordian>ul>li>ul>li.active>ul.show-dropdown,
#accordian>ul>li>ul>li>ul>li.active>ul.show-dropdown,
#accordian>ul>li>ul>li>ul>li>ul>li.active>ul.show-dropdown {
    display: block;
    border: 1px solid #ffe69a;
    background: #fff;
    padding: 0;
}

#accordian>ul>li>ul,
#accordian>ul>li>ul>li>ul,
#accordian>ul>li>ul>li>ul>li>ul,
#accordian>ul>li>ul>li>ul>li>ul>li>ul {
    padding-left: 20px;
}

#accordian a:not(:only-child):after {
    content: "\f105";
    position: absolute;
    right: 20px;
    top: 14px;
    font-size: 15px;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    transition: 0.5s;
}

#accordian .active>a:not(:only-child):after {
        transform: rotate(90deg);
}
/*End Sidebar*/


/*User Account Dropdown*/
.dropdown {
  display: inline-block;
  position: relative;
}

.dd-button {
    display: inline-block;
    padding: 5px 35px 5px 25px;
    cursor: pointer;
    white-space: nowrap;
    margin-top: 10px;
    position: relative;
    border: 2px solid rgb(239, 195, 63);
    background: transparent;
    border-radius: 50px;
    color: #fff;
}

.dd-button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgb(239, 195, 63);
}

.dd-button:hover:after{border-top-color: #000;}
.dd-button:hover {
  background-color: rgb(239, 195, 63);
  color: #000;
}


.dd-input {
  display: none !important;
}

.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  background-color: #ffffff;
  list-style-type: none;
}

.dd-input + .dd-menu {
  display: none;
} 

.dd-input:checked + .dd-menu {
  display: block;
} 

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li:hover {
  background-color: #f6f6f6;
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.dd-menu li.divider{
  padding: 0;
  border-bottom: 1px solid #cccccc;
}

/*End User Account DropDown*/

/*.scrolled_header.active{transition: all 0.2s;}*/
.scrolled_header.active a.navbar-brand {
    padding-top: 5px;
}
.scrolled_header.active a.navbar-brand img {
    width: 41px;
    transition: all 0.2s;
}
.scrolled_header.active .jumbotron.logo_title {
    padding: 0;
    z-index: 1234;
    background: transparent;
    position: fixed;
}
.scrolled_header.active .jumbotron.logo_title .logo_title {
    font-size: 15px;
    margin: 10px;
    transition: all 0.2s;
}
.scrolled_header.active .jumbotron.logo_title a.btn-apply {
    right: -200px;
    top: 7px;
    border: 2px solid rgb(239, 195, 63);
    background-color: rgb(239, 195, 63);
    color: #000;
}
.scrolled_header.active a.navbar-brand::after{display: none;}
.container.marquee_container.scrolled_header.active {
    position: fixed;
    z-index: 12312;
    top: 50px;
    background: #ddd;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 100%;
}
.scrolled_header.blank.active{height: 120px;}


@media(max-width: 600px){
    .top_navbar .navbar-brand img{
        width: 50px;
        position: absolute;
        top: 5px;
    } 
    a.navbar-brand::after{
        content: none;
    }
    .jumbotron.logo_title {
        margin-top: 15px;
    }
    h3.logo_title {
        line-height: inherit;
        padding-bottom: 35px;
        font-size: 12px;
    } 
    h3.logo_title span{
        display: none;
    }

}
@media(min-width: 600px) and ( max-width: 1024px){
    .top_navbar .navbar-brand img{
        width: 80px;
        position: absolute;
    }
    a.navbar-brand{
        width: 0;
    }
    a.navbar-brand::after{
        content: none;
    }    

}